body {
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    overflow-y: scroll;
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.right {
    width: 700px;
    flex-shrink: 0;
    background-color: #e0e0e0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#target-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    display: none;
    border: 2px solid #333;
}

/* Стили для временной шкалы */
.timeline {
    position: relative;
    height: 30px;
    border-bottom: 2px solid #999;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.year-marker {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: left top;
    font-size: 14px;
    color: #555;
    white-space: nowrap;
}

/* Чтобы маркеры не наезжали друг на друга, подгоняем их положение */
.timeline .year-marker:nth-child(n+2) { /* Применяем ко всем, кроме первого */
  transform-origin: 0 0;
  left: 5%; /* Смещение каждого на 5% */
}


/* Стили для блоков художников */
.artist-details {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.artist {
    text-align: left;
    background-color: #cdd;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    border-bottom: 2px solid #bbb;
}

.arts {
    text-align: left;
    background-color: #ddd;
    padding: 10px;
}

.arts p {
    margin-top: 0;
}

.arts .art {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #aaa;
    background-color: #eee;
    cursor: pointer;
    text-align: left;
}
